In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv("../Data/matches.csv")

In [17]:
df.head()

,date,city,team1,team2,toss,decision,venue,result,winner,mom,match_no
0,2008-04-18,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,1.0,Kolkata Knight Riders,BB McCullum,1.0
1,2008-04-19,Chandigarh,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,"Punjab Cricket Association Stadium, Mohali",1.0,Chennai Super Kings,MEK Hussey,2.0
2,2008-04-19 00:00:00,Delhi,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Feroz Shah Kotla,1.0,Delhi Daredevils,MF Maharoof,3.0
3,2008-04-20,Kolkata,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Eden Gardens,1.0,Kolkata Knight Riders,DJ Hussey,4.0
4,2008-04-20,Mumbai,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Wankhede Stadium,1.0,Royal Challengers Bangalore,MV Boucher,5.0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      950 non-null    object
 1   city      899 non-null    object
 2   team1     950 non-null    object
 3   team2     950 non-null    object
 4   toss      950 non-null    object
 5   decision  950 non-null    object
 6   venue     950 non-null    object
 7   result    876 non-null    float64
 8   winner    950 non-null    object
 9   mom       946 non-null    object
 10  match_no  950 non-null    float64
dtypes: float64(2), object(9)
memory usage: 81.8+ KB

In [40]:
df["city"] = df.apply(lambda x: x.venue.split()[0] if pd.isna(x.city) else x.city, axis = 1)

In [42]:
df[df["city"].isnull()]

Empty DataFrame
Columns: [date, city, team1, team2, toss, decision, venue, result, winner, mom, match_no]
Index: []

In [48]:
df["result"] = df["result"].fillna(1.0)

In [53]:
df.to_csv("../Data/matches.csv", index = False)